# Dependencies
node_modules/
package-lock.json

# Build output
dist/
dist.rar

# Vercel
.vercel

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
logs/

# Environment
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local

# Chrome extension keys
*.crx
*.pem
.env*.local

# Local scratch files
musashi-extension@1.0.0
node
